<%= form_with(model: [plot, comment], url: plot_comments_path(@plot) ) do |f| %>
<div class="row">
  <div class="col form-group">
    <%= f.text_area :content, class: "input-mysize form-control", placeholder: "コメントを入力..." %>
  </div>
</div>
<div class="row">
  <div class="col form-group" id="star" data-turbolinks='false'>
    <%#= f.label :star, '', class: 'col-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
  </div>
</div>
<div class="row">
  <div class="col-5 form-group">
    <%= f.submit "送信", class: "btn btn-block btn-primary comment-submit float-right" %>
  </div>
</div>
<script>
  $('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[star]',
    half: false,
  });
</script>
<% end %>