<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Comment</th>
      <th>Star</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% comments.each do |comment| %>
  <% unless comment.id.nil? %>
  <tbody>
    <tr>
      <th class="comment-avatar">
        <%#= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>
      </th>
      <th class="comment-text">
        <%= link_to "@#{comment.user.name}", user_path(comment.user.id) %>
      </th>
      <th class="comment-entry"><%= comment.content %></th>
      <th id="star-rate<%= comment.id %>" data-turbolinks='false'></th>
        <script>
          $('#star-rate<%= comment.id %>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            half      : false,
            readOnly  : true,
            score     : <%= comment.star %>,
          });
        </script>
        <% if comment.user == current_user %>
      <th class="comment-entry">
        <%= link_to plot_comment_path(comment.plot.id, comment.id), method: :delete, class: "comment_destroy", remote: true do %>
          <i class="fas fa-trash" style="color: black;"></i>
        <% end %>
      </th>
        <% end %>
      <th class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
    </tr>
  </tbody>
  <% end %>
  <% end %>
</table>