<h1>Search#search</h1>
<p>Find me in app/views/search/search.html.erb</p>
<% if user_signed_in? %>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field 'search[value]' %>
    <%= f.select 'search[model]', options_for_select({ "User" => "user", "Plot" => "plot" }) %>
    <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
    <%= f.submit :"検索" %>
  <% end %>
<% end %>