<%# 編集中 %>
<h1>Plots#index</h1>
<p>Find me in app/views/plots/index.html.erb</p>
<h2>tag list</h2>
<% @tag_list.each do |list| %>
  <%= link_to list.tag_name, tag_plots_path(tag_id: list.id) %>
  <%= "(#{list.plots.count})" %>
  <%# binding.pry %>
<% end %>
<div class="row">
  <%= link_to '新規作成', new_plot_path %>
</div>
<div class="row">
  <% @all_ranks.each do |plot| %>
    <%= plot.title %>
  <% end %>
</div>

<table class="table table-hover mt-3">
  <thead class="thead-dark">
    <tr>
      <th>タイトル</th>
      <th>ユーザー名</th>
      <th>いいね！</th>
      <th>タグ</th>
      <th>投稿日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @plots.each do |plot| %>
    <tr>
      <th scope="row">
        <%= plot.title %>
      </th>
      <td>
        <%= plot.user.name %>
      </td>
      <td id="likes">
        <% if plot.liked_by?(current_user) %>
          <%= link_to plot.likes.count, plot_likes_path(plot.id), method: :delete, class: "fas fa-heart heart_red", remote: true %>
        <% else %>
          <%= link_to plot.likes.count, plot_likes_path(plot.id), method: :post, class: "fas fa-heart heart_blue", remote: true %>
        <% end %>
      </td>
      <td>
      <% binding.pry %>
        <%= plot.tag_name %>
      </td>
      <td>
        <%= plot.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </td>
      <td>
        <%= link_to '作品を読む', plot_path(plot.id), class: 'btn btn-success' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>