<h1>Plots#index</h1>
<p>Find me in app/views/plots/index.html.erb</p>
<% @plots.each do |plot| %>
  <%= link_to plot_path(plot.id) do %>
  <%= plot.title %>
  <% end %>
  <%== plot.body %>
  <%#= plot.picture %>
<% end %>
<h2>tag list</h2>
<% @tag_list.each do |list| %>
  <%= link_to list.tag_name, tag_plots_path(tag_id: list.id) %>
  <%= "(#{list.plots.count})" %>
<% end %>
<%= link_to '新規作成', new_plot_path %>