<h1>Plots#new</h1>
<p>Find me in app/views/plots/new.html.erb</p>
<%= form_with model: @plot, local: true do |f| %>
  <label class="form-group">title</label>
    <%= f.text_field :title, class: 'form-control' %>
<div class="field">
  <%= f.label :body %>
  <%= f.text_area :body, 'data-provider': :summernote %>
</div>
    <%= f.submit "Submit", class: 'btn btn-success' %>
<% end %>