<h1 class="title">新しいプロットの作成</h1>
<%= form_with model: @plot, local: true do |f| %>
<div class="row mt-3">
  <div class="col-5 field">
    <label class="form-group">タイトル</label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="col-5 field">
    <label class="form-group">タグ（カンマで複数設定できます）</label>
    <%= f.text_field :tag_name, class: 'form-control' %>
  </div>
  <div class="col-2 field">
    <label class="form-group">保存ボタン</label>
    <%= f.submit " 投稿を確定する", class: 'btn-block btn btn-success' %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 field">
    <label class="form-group">本文</label>
    <%= f.text_area :body, 'data-provider': :summernote %>
  </div>
</div>
<% end %>