<h1>Plots#show</h1>
<p>Find me in app/views/plots/show.html.erb</p>
<div class="row">
  <%= @plot.title %>
</div>
<div class="row">
  <%== @plot.body %>
</div>
<div id="likes">
  <%= render partial: 'likes/like', locals: { plot: @plot } %>
</div>
<div class="row">
  <% @plot_tags.each do |tag| %>
  <%= link_to tag.tag_name, tag_plots_path(tag_id: tag.id) %>
  <%= "(#{tag.plots.count})" %>
<% end %>
</div>
<div class="row">
  <%= link_to '戻る', plots_path %>
  <%= link_to '編集', edit_plot_path %>
  <%= link_to '削除', plot_path, method: :delete %>
</div>
<div class="row">
  <ul>
    <li class="comment-create">
      <h3>コメント</h3>
    </li>
    <li id="comment_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </li>
  </ul>
  <% if user_signed_in? %>
    <div class="comment-create">
      <h3>投稿</h3>
      <%= render partial: 'comments/form', locals: { comment: @comment, plot: @plot } %>
    </div>
    <% end %>
</div>