<h1>Plots#show</h1>
<p>Find me in app/views/plots/show.html.erb</p>
<div class="row">
  <%= @plot.title %>
</div>
<div class="row">
  <%== @plot.body %>
</div>
<div id="likes_buttons_<%= @plot.id %>">
  <%= render partial: 'likes/like', locals: { plot: @plot } %>
</div>
<div class="row">
  <% @plot_tags.each do |tag| %>
  <%= link_to tag.tag_name, tag_plots_path(tag_id: tag.id) %>
  <%= "(#{tag.plots.count})" %>
<% end %>
</div>
<div class="row">
  <%= link_to '戻る', plots_path %>
  <%= link_to '編集', edit_plot_path %>
  <%= link_to '削除', plot_path, method: :delete %>
</div>