<%= render 'body', plot: @plot %>
<hr>
<%= render 'info', plot: @plot %>
<hr>
<div class="row">
  <%= link_to '戻る', plots_path %>
  <%= link_to '編集', edit_plot_path %>
  <%= link_to '削除', plot_path, method: :delete %>
</div>
<div class="row">
  <div class="col-8" id="comment_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
  <div class="col-4 comment-create">
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, plot: @plot } %>
    <% end %>
  </div>
</div>

