<div class="row">
  <div class="col-6">
    <h1 class="title">フォロー中</h1>
  </div>
  <div class="col-6 d-flex flex-wrap align-content-center">
    <h5><%= user.name %>さんは <%= user.followed.count %> フォロー中です</h5>
  </div>
</div>
<table class="table table-hover mt-3">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>ユーザー名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% user.followed.each do |user| %>
    <tr>
      <th scope="row">
        <%= attachment_image_tag( user, :icon, size: '80x80', fallback: 'no_image.png') %>
      </th>
      <td><%= user.name %></td>
      <td><%= link_to 'ユーザーページを見る', user_path(user.id), class: 'btn btn-success' %></td>
    </tr>
  <% end %>
  </tbody>
</table>