<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= form_with model: @user, local: true do |f| %>
  <label class="form-group">Name</label>
  <%= f.text_field :name, autofocus: true, id: "inputName, focusedInput", placeholder: "name", class: 'form-control' %>
  <label class="form-group">Introduction</label>
  <%= f.text_area :introduction, placeholder: '自己紹介...', class: 'form-control' %>
  <label class="form-group">icon</label>
  <%= f.file_field :icon %>
  <%= f.submit "Submit", class: 'btn btn-secondary' %>
<% end %>