<h1 class="title">ユーザー</h1>
<h4>あなたイチオシのクリエイターを見つけよう！</h4>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>ユーザー名</th>
      <th>イントロダクション</th>
      <th></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <th scope="row">
        <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :icon, size: '50x50' %>
        <% end %>
      </th>
      <td><%= user.name %></td>
      <td><%= user.introduction %></td>
      <td><%= link_to 'ユーザーページを見る', user_path(user.id), class: 'btn btn-success' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
