<div class="row">
  <div class="col-2">
    <% if @user.icon.attached? %>
      <%= image_tag @user.icon, size: '150x150' %>
      <%# refileはだめっぽい %>
      <%#= attachment_image_tag @user, :icon, :fill, size: "150x150" %>
    <% else %>
      <%= image_tag 'no_image.png', size: '150x150' %>
    <% end %>
  </div>
  <div class="col-6 d-flex flex-column">
    <h2 class="p-2"><%= @user.name %></h2>
    <h4 class="p-2"><%= @user.introduction %></h4>
    <p>フォロワー数</p>
  </div>
  <div class="col-3 offset-1">
    <%= link_to '設定', edit_user_path, class: 'btn btn-info' %>
  </div>
</div>
<div class="d-flex flex-column">
<%# 投稿一覧とブックマークをボタンを押すと出てくる感じにする %>
<h3>いいねした投稿</h3>
<% @user.liked_plots.each do |plot| %>
  <%= plot.user.name %>
  <%= plot.title %>
<% end %>
</div>
<div class="follower">
    <%= link_to followers_user_path(@user.id) do %>
        <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
    <% end %>
</div>
<div class="follow">
    <%= link_to followed_user_path(@user.id) do %>
              <h5 style="color: black;">フォロー<%= @user.followed.count %>人</h5>
    <% end %>
</div>
<div>
    <%= render partial: "follow_form", locals: { user: @user } %>
</div>