<div class="row">
  <div class="col-6">
    <div class="media">
      <%= attachment_image_tag plot.user, :icon, size: '150x150', fallback: 'no_image.png', class: 'img-thumbnail' %>
      <div class="media-body">
        <h4 class="mt-0 ml-3"><%= plot.user.name %></h4>
        <p class="mt-2 ml-3"><%= plot.user.introduction %></p>
      </div>
    </div>
  </div>
  <div class="col-5 offset-1 d-flex flex-wrap align-content-center">
    <div id="likes_<%= @plot.id %>">
      <%= render partial: 'likes/like', locals: { plot: @plot } %>
    </div>
  </div>
</div>