<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>プロット・プロット</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100 bg-light">
    <%#= ヘッダー %>
    <%= render 'layouts/header' %>
      <main class="mb-auto">
        <%# フラッシュ %>
        <% if flash[:notice] %>
          <div class="row d-flex justify-content-center mt-1 mb-1"><%= render 'layouts/flash' %></div>
        <% end %>
        <div class="container px-5 px-sm-0 mt-3">
          <%= yield %>
        </div>
      </main>
    <%#= フッター %>
    <%= render 'layouts/footer' %>
  </body>

</html>
